@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7c5f40;
  --secondary: #ebedef;
  --background: #f6f2ea;
  --foreground: #2c1810;
  --section: #ede8e0;
  --inactive: #a9adb2;
  --tabIndicator: #7c5f40;
  --subtitle: #6f7071;
  --danger: #f50000;
  --skeleton: #ebedef;
}
